# Dependencias
node_modules/
dist/
build/
.venv/
__pycache__/

# Credenciales y variables de entorno
*.json
!apps/analytics-dashboard/package.json
!services/api/package.json
.env
.env.local

# IDEs y SO
.vscode/
.idea/
.DS_Store
