.contenedor-tabla {
  width: 100%;
  max-height: 450px; /* Esto evita que crezca y tape el footer */
  overflow: auto;    /* Crea el scroll interno */
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}